html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}
* {
  margin:0 ;
}
html {
  height: 100%;
}
body {
  background-image: url(memes.jpg), -webkit-linear-gradient(top left, #007d35 0%, #007d35 40%, #0f574e 100%);
  min-height: 100%;
  background-position: center 80px, center center;
  background-repeat:repeat;
  background-size: 800px, 100% 100%;
  display: flex;
  align-items: flex-end;
}
@media (min-width:768px) {
  body {
    align-items: center;
    background-size: 400px, 100% 100%;
  }
}

@media (prefers-reduced-motion: no-preference) {
  .css-yv4fkz {
    animation: footer-spin infinite 20s linear;
  }
}

@keyframes footer-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.css-yv4fkz:hover 
{
  animation-play-state: paused;
}

#root {
  width: 100%;
}